integrations/n8n/telegram-v3.template.json
{
  "name": "I Love Fresas - Telegram V3",
  "active": false,
  "nodes": [
    {
      "parameters": { "updates": ["message"] },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const m = $json.message || {}; const photo = Array.isArray(m.photo) ? m.photo[m.photo.length - 1] : null; const document = m.document || null; return [{ json: { channel: 'telegram', chatId: String(m.chat?.id || ''), externalMessageId: `telegram:${$json.update_id}:${m.message_id}`, text: m.text || m.caption || '', occurredAt: m.date ? new Date(m.date * 1000).toISOString() : null, hasAttachment: Boolean(photo || document), attachmentType: photo ? 'image' : document ? 'document' : null, attachmentFileId: photo?.file_id || document?.file_id || null, caption: m.caption || null, mimeType: document?.mime_type || (photo ? 'image/jpeg' : null) } }];"
      },
      "id": "normalize-telegram",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ILOVEFRESAS_BACKEND_URL + '/bot/turn' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "x-bot-secret", "value": "={{ $env.BOT_INTEGRATION_SECRET }}" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "backend-turn",
      "name": "Backend Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.shouldSendReply && !$json.duplicate }}", "value2": true }] }
      },
      "id": "should-reply",
      "name": "Should Reply",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [740, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $('Normalize Telegram').item.json.chatId }}",
        "text": "={{ $json.responseText }}",
        "additionalFields": {}
      },
      "id": "send-message",
      "name": "Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [980, -80]
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Normalize Telegram", "type": "main", "index": 0 }]] },
    "Normalize Telegram": { "main": [[{ "node": "Backend Turn", "type": "main", "index": 0 }]] },
    "Backend Turn": { "main": [[{ "node": "Should Reply", "type": "main", "index": 0 }]] },
    "Should Reply": { "main": [[{ "node": "Send Message", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
